
.pinguim {
    position: relative;
    height: 800px;
    width: 50%;
    margin: 50px 80px 0 0;
    left: 47.5%;
    transform: translateX(-50%);
    opacity: 1;
}

.head {
    background: black;
    position: absolute;
    top: 100px;
    left: 50.5%;
    transform: translate(-50%, 0);
    display: inline-block;
    width: 395px;
    height: 400px;
    border-radius: 50%;
    z-index: 100;
}
.face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 370px;
}

.rounded-eye {
    background: #fff;
    border-radius: 210% 700% 0% 700%;
    height: 240px;
    width: 200px;
}
.rounded-eye.left,
.rounded-eye.right {
    position: absolute;
    top: 215px;
    z-index: 1000;
}
.rounded-eye.left {
    left: 340px;
    transform: rotate(0) scale(1, 1);
    padding: 61px 0 0 41px;
}
.rounded-eye.right {
    right: 330px;
    transform: rotate(0) scale(-1, 1);
    padding: 60px 0 0 46px;
}
.rounded-eye.left .eye::before {
    left: 7.75px;
}
.rounded-eye.left .eye::after {
    left: 6.5px;
}
.rounded-eye.right .eye::before {
    left: 6.75px;
}
.rounded-eye.right .eye::after {
    left: 5.75px;
}
.eye {
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.eye::before,
.eye::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    background: #fff;
}
.eye::before {
    width: 17.5px;
    height: 17.5px;
    top: 6.75px;
}
.eye::after {
    width: 10px;
    height: 10px;
    bottom: 10.25px;
}

.spout {
    position: absolute;
    top: 335px;
    left: 50%;
    width: 0px;
    height: 0px;
    transform: translateX(-50%);
    border-left: 60px solid transparent;
    border-top: 100px solid #f68122;
    border-right: 60px solid transparent;
    border-radius: 100%;
    z-index: 1000;
}

.belly {
    background: black;
    position: absolute;
    top: 435px;
    left: 50.5%;
    transform: translateX(-50%);
    width: 500px;
    height: 333px;
    border-radius: 90% 90% 80% 80%;
    z-index: 10;
}
.belly-inner {
    background: #fff;
    position: absolute;
    top: 377.5px;
    left: 50.5%;
    transform: translateX(-50%);
    width: 414px;
    height: 360px;
    border-radius: 330% 330% 220% 220%;
    z-index: 100;
}
.arm {
    position: absolute;
    top: 450px;
    width: 310px;
    height: 92.5px;
    background: black;
}
.arm.left {
    border-radius: 120% 30% 110% 440%;
    transform: rotate(-42.5deg);
    left: 133px;
    top: 447.5px;
}
.arm.right {
    border-radius: 20% 30% 80% 0%;
    right: 120px;
    transform: rotate(42.5deg);
    top: 445px;
}
.foot {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -200px;
    border-radius: 100%;
    padding: 100px;
}
.foot.left {
    left: 240px;
    transform: rotate(11.5deg);
    top: 790px;
}
.foot.right {
    right: 230px;
    transform: rotate(-11.5deg) scale(-1, 1);
    top: 790px;
}
.foot.left::before {
    content: "";
    background: #f68122;
    width: 180px;
    height: 80px;
    position: absolute;
    top: -70.5px;
    left: -13px;
    z-index: 100;
    border-radius: 200% 100%;
    transform: rotate(-7.5deg) skew(-50deg);
}
.foot.left::after {
    content: "";
    background: #f68122;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -85px;
    left: 80px;
    z-index: 100;
    border-radius: 0% 400% 250% 99%;
    transform: rotate(-75deg);
}
.foot.right::before {
    content: "";
    background: #f68122;
    width: 180px;
    height: 80px;
    position: absolute;
    top: -70.5px;
    left: -13px;
    z-index: 100;
    border-radius: 200% 100%;
    transform: rotate(-7.5deg) skew(-50deg);
}
.foot.right::after {
    content: "";
    background: #f68122;
    width: 90px;
    height: 90px;
    position: absolute;
    top: -85px;
    left: 80px;
    z-index: 100;
    border-radius: 0% 400% 250% 99%;
    transform: rotate(-75deg);
}
